{% extends "parent.html"%}
{% block main %}
<div class="section-title" style="margin-top: 150px;" data-aos="fade-up">
  <h2>About Government Polytechnic Lucknow</h2>
  <p>Government Polytechnic Lucknow Official website (राजकीय पालीटेक्निक लखनऊ) (founded 1892) is an institute of technical education of Uttar Pradesh in India. It is affiliated to Board of Technical Education Lucknow, Uttar Pradesh (BTEUP) and the All India Council for Technical Education (AICTE), New Delhi, India.


    Government Polytechnic Lucknow located at Polytechnic Chauraha, Faizabad Road (Near Indira Nagar Metro Station). It is located about 12 km away from Lucknow Junction railway station.
    
    Established in 1892 as Industrial School for Railway Employees and was located at Basmandi Chauraha near Lucknow Junction railway station, Charbagh. In 1911 it was renamed as Government Technical Institute (GTI). Again its name was changed as Government Polytechnic Lucknow (GPL) in 1961 and shifted to present location (well known as Polytechnic Chauraha).
    
    Courses offered by the institute include architectural assistantship, Civil Engineering, Information Technology, Mechanical Engineering, Electrical Engineering and Electronics Engineering.</p>
</div>

<section id="faq" class="faq" style="margin-top: 80px;">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>
  
      <ul class="faq-list accordion" data-aos="fade-up">
  
        <li>
          <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">What are the admission requirements for your college? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              The admission requirements for our college vary depending on the program you are applying to. However, all applicants must have a high school or equivalent and submit an official transcript. You may also be required to clear the JEECUP(POLYECHNIC ENTRANCE EXAM). For more information on specific admission requirements, please visit our website or contact the admissions office.
            </p>
          </div>
        </li>
  
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">What is the cost of tuition and fees? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              The cost of tuition and fees for our college varies depending on the program you are enrolled in and your residency status. For more information on specific tuition and fee rates, please visit our website or contact the office.
            </p>
          </div>
        </li>
  
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">What financial aid options are available? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Our college offers a variety of financial aid options to help students pay for their education. These options include scholarships, from both State Government as well as Central Government. For more information on financial aid, please visit our website or contact the office.
            </p>
          </div>
        </li>
  
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">What housing options are available? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Our college offers a variety of housing options for students, including on-campus and off-campus housingboth boys and girls with necessary facilities at a very minimal price. For more information on housing options, please visit our website or contact office.
            </p>
          </div>
        </li>
  
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">What student services are available? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Our college offers a variety of student services to help students succeed academically and personally. These services include academic advising, career counseling, Industrial Trainings and vists etc. For more information on student services, please visit our website or contact the office.
            </p>
          </div>
        </li>
  
        <li>
          <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">What are the career opportunities for graduates of your college? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              Our college students have a variety of career opportunities available to them. Our students are employed in a variety of fields, including business, education, engineering, health sciences, etc. For more information on career opportunities, please visit our website or contact the Training and Placement Officer.
            </p>
          </div>
        </li>
  
      </ul>
  
    </div>
</section> 
{% endblock main %} 