{% extends "parent.html"%}
{% block main %}
    <script>
      function validate()
      {
        var name=document.getElementById("name");
        var contactno=document.getElementById("contactno");
        var emailaddress=document.getElementById("emailaddress");
        var emailexp=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (name.value=="" || name.value==null)
        {
          alert('Please Enter Name');
          name.focus();
        }
        else if (contactno.value=="" || contactno.value==null)
        {
          alert('Please Enter ContactNo');
          contactno.focus();
        }
        else if (isNaN(contactno.value))
        {
          alert('Please Enter numbers only ');
          contactno.focus();
        }
        else if (contactno.value.length!=10)
        {
          alert('Please Enter Valid Contact Number');
          contactno.focus();
        }
        else if (emailaddress.value=="" || emailaddress.value==null)
        {
          alert('Please Enter EmailAddress');
          emailaddress.focus();
        }
        else if (!emailexp.test(emailaddress.value))
        {
            alert('please Enter valid email address');
            emailaddress.focus();
        }
        else
        {
         document.getElementById("frmcontactus").submit();
        }
      }
    </script>

<section id="faq" class="faq" style="margin-top: 80px;">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
    </div>

    <ul class="faq-list accordion" data-aos="fade-up">

      <li>
        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
          </p>
        </div>
      </li>

    </ul>

  </div>
</section>       

<section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="blog-comments">

            <div class="reply-form">

              {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>{{message}}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
              {% endfor %}
              {% endif %}
              <h1 style="text-align: center;">Enquiry Form</h1>
              <form class="form-group" id="frmcontactus" onsubmit="event.preventDefault();validate();" method="post" action="{% url 'home:contactus' %}" >
                {% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                    <td>Enter Name</td>
                    <td><input type="text" name="name" class="form-control" id="name"/></td>
                    </tr>
                    <tr>
                    <td>Select Gender</td>
                    <td><input type="radio" name="gender" value="male" class="form-check-input"/>&nbsp;&nbsp;&nbsp;MALE&nbsp;&nbsp;
                        <input type="radio" name="gender" value="female" class="form-check-input"/>&nbsp;&nbsp;&nbsp;FEMALE</td>
                    </tr>
                    <tr>
                    <td>Enter Your Address</td>
                    <td><textarea name="address" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                    <td>Contact No</td>
                    <td><input type="text" name="contactno" class="form-control" id="contactno"/></td>
                    </tr>
                    <tr>
                    <td>Email Address</td>
                    <td><input type="text" name="emailaddress" class="form-control" id="emailaddress"/></td>
                    </tr>
                    <tr>
                    <td>Enter Enquiry Text</td>
                    <td><textarea name="enquirytext" class="form-control"></textarea></td>
                    </tr>
                
                    <tr>
                    <td>&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-outline-success">Submit</button></td>
                    <td>&nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-outline-danger" >Clear</button></td>
                    </tr>
                </table>
              
              </form>
                        
            </div>

          </div>

        </div>

      </div>
</section>
    

{% endblock main %}