{% extends "parent.html"%}
{% block main %}
    <script>
      function validate()
      {
        var name=document.getElementById("name");
        var contactno=document.getElementById("contactno");
        var emailaddress=document.getElementById("emailaddress");
        var emailexp=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (name.value=="" || name.value==null)
        {
          alert('Please Enter Name');
          name.focus();
        }
        else if (contactno.value=="" || contactno.value==null)
        {
          alert('Please Enter ContactNo');
          contactno.focus();
        }
        else if (isNaN(contactno.value))
        {
          alert('Please Enter numbers only ');
          contactno.focus();
        }
        else if (contactno.value.length!=10)
        {
          alert('Please Enter Valid Contact Number');
          contactno.focus();
        }
        else if (emailaddress.value=="" || emailaddress.value==null)
        {
          alert('Please Enter EmailAddress');
          emailaddress.focus();
        }
        else if (!emailexp.test(emailaddress.value))
        {
            alert('please Enter valid email address');
            emailaddress.focus();
        }
        else
        {
         document.getElementById("frmcontactus").submit();
        }
      }
    </script>

<section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="blog-comments">

            <div class="reply-form">

              {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <strong>{{message}}</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
              {% endfor %}
              {% endif %}
              <h1 style="text-align: center;">Enquiry Form</h1>
              <form class="form-group" id="frmcontactus" onsubmit="event.preventDefault();validate();" method="post" action="{% url 'home:contactus' %}" >
                {% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                    <td>Enter Name</td>
                    <td><input type="text" name="name" class="form-control" id="name"/></td>
                    </tr>
                    <tr>
                    <td>Select Gender</td>
                    <td><input type="radio" name="gender" value="male" class="form-check-input"/>&nbsp;&nbsp;&nbsp;MALE&nbsp;&nbsp;
                        <input type="radio" name="gender" value="female" class="form-check-input"/>&nbsp;&nbsp;&nbsp;FEMALE</td>
                    </tr>
                    <tr>
                    <td>Enter Your Address</td>
                    <td><textarea name="address" class="form-control"></textarea></td>
                    </tr>
                    <tr>
                    <td>Contact No</td>
                    <td><input type="text" name="contactno" class="form-control" id="contactno"/></td>
                    </tr>
                    <tr>
                    <td>Email Address</td>
                    <td><input type="text" name="emailaddress" class="form-control" id="emailaddress"/></td>
                    </tr>
                    <tr>
                    <td>Enter Enquiry Text</td>
                    <td><textarea name="enquirytext" class="form-control"></textarea></td>
                    </tr>
                
                    <tr>
                    <td>&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-outline-success">Submit</button></td>
                    <td>&nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-outline-danger" >Clear</button></td>
                    </tr>
                </table>
              
              </form>
                        
            </div>

          </div>

        </div>

      </div>
</section>
    

{% endblock main %}