{% extends "parent.html" %}
{% block main %}
{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>Build Your better <br> future with us</h1>
          <h2>An Institution to sharpen your skills and knowledge, <br> making you job ready</h2>
          <a href="#about" class="btn-get-started scrollto">Let's Start</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <div class="section-title" style="margin-top: 20px;">
      <h2>Our Recruiters</h2>
    </div>
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'home/assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'home/assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'home/assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'home/assets/img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'home/assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'home/assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'home/assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'home/assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>About Government Polytechnic Lucknow</h3>
              <p>
                <b>Government Polytechnic Lucknow</b>, established in <b>1962</b>, is a prominent technical education institution in <b>Lucknow, Uttar Pradesh</b>. Offering a variety of Diploma Courses in Engineering fields, with a focus on practical learning
              </p>
              <a href="#" class="about-btn"><span><b>About Us</b>
              </b></span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Mentorship</h4>
                  <p>You will be sharpening your skills and accquiring knowledge under top class faculty.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Practical Learning</h4>
                  <p>Here our students not only learn but they build their own, creative ideas under our Guidance</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Cultural Enviroment</h4>
                  <p>Our Campus is vast and surrounded by greenery. Here you always feel a Freshness and an Essence of <b>Learning</b></p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Placement Cell</h4>
                  <p>Are you worried about your <b>Internships</b>
                    and <b>Placements</b>? Here we have a dedicated <b>Placement Cell</b> to help.
                  </p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="500000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Students</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="19" data-purecounter-duration="1" class="purecounter"></span>
              <p>Departments</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="60" data-purecounter-duration="1" class="purecounter"></span>
              <p>Year's of Excellence</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p>Recruiters</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Tabs Section ======= -->
    <div class="section-title" style="margin-top: 15px;">
    <h2>Quick Links</h2>
    </div>
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a href="{% url 'home:login' %}"  class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Student Login</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" href="{% url 'home:login' %}" data-bs-target="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">E-Library</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a href="https://bteup.ac.in/webapp/Courses.aspx?type=main" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Courses</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">Contact Us</h4>
            </a>
          </li>
        </ul>

      </div>
    </section><!-- End Tabs Section -->

    <!-- ======= Services Section ======= -->  
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Explore through a wide range of Services accessible to evryone through this Portal.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">Courses</a></h4>
              <p>Choose from a wide range and variety of courses offered by us in various Domains.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Alumini Directory</a></h4>
              <p>View, Connect, Network with our numerous Alumini working round the Globe on Prestigious positions.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Placement Records</a></h4>
              <p>View, Analyse our latest Placement Records to find out the latest trends among Recruiters.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">Register Complaint</a></h4>
              <p>Facing any Problem? Or having any issue, Register a Complaint so that we will look upon that.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">Fees Payment</a></h4>
              <p>Worried about Submiiting Your Fee. Clear Your dues in time with our Online Fee Payment Facility.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="#">E-Library</a></h4>
              <p>Aceess to a large and Modern collection of Books so that you can crystal clear up your Concepts</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Courses Offered</h2>
          <p>Explore through a wide range and variety of Diploma Courses offered by us in various Domains of Engineering & Technology.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/cs.png' %}" class="testimonial-img" alt="">
                  <h3>Information Technology</h3>
                  <h4>Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 3 Yr. Full Fleged Diploma in Information Technology. Lateral Entry (2 Yr.) also available.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/civil.png' %}" class="testimonial-img" alt="">
                  <h3>Civil Engineering</h3>
                  <h4>Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 3 Yr. Full Fleged Diploma Program in Civil Engineering. Lateral Entry (2 Yr.) is also available.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/electrical.png' %}" class="testimonial-img" alt="">
                  <h3>Electrical Engineering</h3>
                  <h4>Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 3 Yr. Full Fleged Diploma in Electrical Engineering. Lateral Entry (2 Yr.) also available.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/electronics.png' %}" class="testimonial-img" alt="">
                  <h3>Electronics Engineering</h3>
                  <h4>Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 3 Yr. Full Fleged Diploma in Electronics Engineering. Lateral Entry (2 Yr.) also available.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/library.png' %}" class="testimonial-img" alt="">
                  <h3>Library Science</h3>
                  <h4>Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 3 Yr. Full Fleged Diploma Program in Library Science. Lateral Entry (2 Yr.) also available.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/pmt.png' %}" class="testimonial-img" alt="">
                  <h3>Plastic & Mould Technology</h3>
                  <h4>Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 3 Yr. Full Fleged Diploma in Plastic & Mould Technology .Lateral Entry also available.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/architecture.png' %}" class="testimonial-img" alt="">
                  <h3>Architecture Engineering</h3>
                  <h4>Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 3 Yr. Full Fleged Diploma in Architecture Engineering. Lateral Entry (2 Yr.) also available.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/pgdca.png' %}" class="testimonial-img" alt="">
                  <h3>P.G.D. in Computer Applications</h3>
                  <h4>Post Graduation Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 2 Yr. Full Fleged Post  Graduation Diploma in Computer Applications.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/drone.png' %}" class="testimonial-img" alt="">
                  <h3>P.G.D. in Drone Technology</h3>
                  <h4>Post Graduation Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 2 Yr. Full Fleged Post  Graduation Diploma in Drone Technology.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/pgdca.png' %}" class="testimonial-img" alt="">
                  <h3>P.G.D. in Web Technology</h3>
                  <h4>Post Graduation Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 2 Yr. Full Fleged Post  Graduation Diploma in Web Technology.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/cyber-security.png' %}" class="testimonial-img" alt="">
                  <h3>P.G.D. in Cyber Security</h3>
                  <h4>Post Graduation Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 2 Yr. Full Fleged Post  Graduation Diploma in Cyber Security.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'home/assets/img/testimonials/mass-communication.png' %}" class="testimonial-img" alt="">
                  <h3>P.G.D. in Mass Communications</h3>
                  <h4>Post Graduation Diploma</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A 2 Yr. Full Fleged Post  Graduation Diploma in Mass Communication.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End Course item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Course Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>What they Say !!</h2>
          <p>Here are some of the reviews by students, parents and visitors. Take a Look upon them.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'home/assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  A great Place for learning and sharpening your skills with a lot of practical concepts.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i> <br> 
                  <h4>~Student</h4>               
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'home/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
              </div> 
              <div class="member-info">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Really liked the way in which our instructors teaches us and also Enviroment is very cozy.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i> <br> 
                  <h4>~Student</h4>                                
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'home/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I am proud to be an Alumini of this Institute that fulfilled my Dreams.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i><br> 
                  <h4>~Former Student</h4>               
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'home/assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As Mentioned this is the best Institute to make you job ready in overall Uttar Pradesh.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i><br> 
                  <h4>~News Reporter & Visitor</h4>                
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Image Gallery</h2>
          <p>Go through the amazing moments captured during various ocassions and events happened in Government Polytechnic Lucknow</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Events</li>
              <li data-filter=".filter-card">Departments</li>
              <!-- <li data-filter=".filter-web">Web</li> -->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/events-1.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/portfolio-2.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/event-2.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/department-1.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/portfolio-5.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/event-3.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/department-2.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/department-3.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'home/assets/img/portfolio/portfolio-9.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

 
</main>

{% endblock main %}
 