{% extends "parent.html"%}
{% block main %}
  <script>
      function validate()
      {
         var userid=document.getElementById("userid");
         var password=document.getElementById("password");
         if (userid.value=="" || userid.value==null)
         {
           alert('Please Enter UserId');
           userid.focus();
         }
         else if (password.value=="" || password.value==null)
         {
          alert('Please Enter Password');
          password.focus();
         }
         else
         {
          document.getElementById("frmlogin").submit();
         }
      }
  
  </script>

<section id="blog" class="blog" style="margin: 100px;">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="blog-comments">

            <div class="reply-form">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

                <h1 style="text-align: center;">Login Here</h1>
                <div class="login-div">

                    <form class="login-form" id="frmlogin" onsubmit="event.preventDefault();validate();" method="post" action="{% url 'home:login' %}" >
                        {% csrf_token%}
                    <table class="table table-bordered">
                    <tr>
                        <td>UserID/RollNo</td>
                        <td><input type="text" name="userid" id="userid" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password" id="password" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>User Type</td>
                        <td><select class="form-control" name="usertype">
                            <option selected>--Select User Type--</option>
                            <option value="student">Student</option>
                            <option value="admin">Administrator</option>

                        </select></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-outline-success">Login</button></td>
                    </tr>
                    </table>
                    </form>
                </div>
            </div>

          </div>

        </div>

      </div>
</section>
    
{% endblock main %}