{% extends "studentparent.html" %}
{% block body %}
{% if messages %}

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Chage Password</h1>
            <form action="{% url 'studentapp:changepassword' %}" class="form-group" method="post">
                {% csrf_token %}  
            <table class="table text-light" >
               <tr>
                    <td>old Password</td>
                    <td>
                         <input type="password" name="oldpassword" class="form-control text-light"/>
                    </td>
               </tr>
               <tr>
                    <td>New Password</td>
                    <td>
                         <input type="password" name="newpassword" class="form-control text-light"/>
                    </td>
               </tr>
               <tr>
                    <td>Comfirm Password</td>
                    <td>
                         <input type="password" name="confirmpassword" class="form-control text-light"/>
                    </td>
               </tr>
               <tr>
                    <td>&nbsp;</td>
                    <td>
                         <button type="submit" class="btn btn-info">Change Password</button>
                    </td>
               </tr>
            </table>
          </form> 
        </div>
    </div>
{% endblock body %}