{% extends "studentparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;color: black; font-family: cursive;">View Notifications</h1>
              <table class="table table-bordered text-light" style="width: 100%;margin: auto;">
                <tr style="color: gold; font-size: 1.2rem;">

                    <th>S.R. No.</th>
                    <th>Subject</th>
                    <th>Details</th>

               </tr>
                {% for n in ne %}

                    <tr style="color: black;">

                        <td>{{forloop.counter}}</td>
                        <td>{{n.subject}}</td>
                        <td>{{n.details}}</td>

                    </tr>

                {% endfor %}
              </table>
        </div>
    </div>
{% endblock body %}
