{% extends "studentparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center; color: black; font-family: cursive;">Discussion Forum</h1>   
             <form class="form-group" action="{% url 'studentapp:postquestion'%}" method="post">
                {% csrf_token %}
              <table class="table table-bordered text-light" style="width: 70%;margin: auto;">
                <tr style="color: black">
                    <td>Enter Question</td>
                    <td><input type="text" name="question" class="form-control" style="color: black; background-color: #fff;"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-primary">Post</button></td>
                </tr>
              </table>
             </form> 
             <br/>
             <br/>
             <table class="table table-bordered" style="margin: auto;width: 100%;">
             <tr style="color: gold; font-size: 1.2rem;">
                <th>S. No.</th>
                <th>Question</th>
                <th>Posted By</th>
                <th>Posted Date</th>
                <th>Post Answer</th>
                <th>View Answer</th>
              </tr>
              {% for q in ques %}
                <tr style="color: black;">
                    <td>{{q.qid}}</td>
                    <td>{{q.question}}</td>
                    <td>{{q.postedby}}</td>
                    <td>{{q.posteddate}}</td>
                    <td><a href="{% url 'studentapp:postanswer' qid=q.qid %}">
                        <button class="btn btn-primary">POST</button></a>
                    </td>
                    <td><a href="{% url 'studentapp:viewanswer' qid=q.qid%}">
                        <button class="btn btn-info">View</button>
                    </a></td>
                </tr>
              {% endfor %}
             </table>
        </div>
    </div>
{% endblock body %}
