{% extends "studentparent.html" %}
{% block body %}
    <div class="row">
        <h1 style="text-align: center; color: black; font-family: cursive;">View Your Study Material</h1>
        <div class="col-sm-12" style="overflow-x: scroll;">
              
            <table class="table table-bordered text-light" style="margin: 50px 20px; padding: 10px;">
                
                {% for m in mate %}

                <tr style="color: gold; font-size: 1.2rem;">
                        <th>S.No.</th>
                        <th>Subject</th>
                        <th>Filename</th>
                        <th>View</th>
                        <th>Download</th>
                    </tr>
                    <tr style="color: black;">

                        <td>{{forloop.counter}}</td>
                        <td>{{m.subject}}</td>
                        <td>{{m.file_name}}</td>
                        <td>
                        
                            <a href="{{m.my_file.url}}" target="_blank">{{m.file_name}}</a>

                        </td>
                        <td>
                        
                            <a download href="{{m.my_file.url}}">{{m.file_name}}</a>

                        </td>
                    </tr>

                {% endfor %}

            </table>

        </div>
    </div>
{% endblock body %}
